<div class="aside-toolbar">
					<ul class="site-logo">
						<li>
							<!-- START LOGO -->
								<a href="index.html">
									<div class="logo">
									</div>
									<span class="brand-text">Allied Rent A Car</span>
								</a>
							<!-- END LOGO -->
						</li>
					</ul>
					<ul class="header-controls">
						<li class="nav-item menu-trigger">
							<button type="button" class="btn btn-link btn-menu" data-toggle-state="mini-sidebar" data-key="leftSideBar">
								<i class="la la-dot-circle-o"></i>
							</button>
						</li>
					</ul>
				</div>
        <nav class="main-menu" data-scroll="minimal-light">
					<ul class="nav metismenu">
						<li class="sidebar-header"><span>NAVIGATION</span></li>
						<li class="nav-dropdown active">
							<a class="has-arrow" href="#" aria-expanded="false"><i class="icon dripicons-meter"></i><span>Vehicle Fleet</span></a>
							<ul class="collapse in nav-sub" aria-expanded="true">
								<li class="active"><a routerLink="/vehicles"><span>Vehicles</span></a></li>
							</ul>
						</li>
          </ul>
				</nav>
