<header class="page-header">
    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <ul class="nav nav-pills nav-pills-primary mb-3" id="pills-demo-1" role="tablist">
          <li class="nav-item">
            <a class="nav-link active show" [routerLink]="pk? 'ids/' + pk : 'ids'">IDs</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link"  [routerLink]="pk? 'general/' + pk : 'general'" >General</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" [routerLink]="pk? 'service/' + pk : 'service'">Service</a>
          </li>
        </ul>
      </div>
    </div>
</header>
<router-outlet></router-outlet>
