<header class="page-header">
    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <ul class="nav nav-pills nav-pills-primary mb-3" id="pills-demo-1" role="tablist">
          <li class="nav-item">
            <a class="nav-link active show" routerLink="/new_vehicle/ids" id="pills-1-tab" data-toggle="pill" href="#pills-1" role="tab" aria-controls="pills-1" aria-selected="true">IDs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-2-tab" routerLink="/new_vehicle/general" data-toggle="pill" href="#pills-2" role="tab" aria-controls="pills-2" aria-selected="false">General</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-3-tab" routerLink="/new_vehicle/service" data-toggle="pill" href="#pills-3" role="tab" aria-controls="pills-3" aria-selected="false">Service</a>
          </li>
        </ul>
      </div>
    </div>
</header>
<router-outlet></router-outlet>
